---
import MetaPost from "@/components/MetaPost.astro"
import PostNavigation from "@/components/PostNavigation.astro"
import ScrollToTop from "@/components/ScrollToTop.astro"
import Layout from "@/layouts/Layout.astro"
import { getPosts } from "@/lib/content"
import { formatDate } from "@/lib/utils"
import { Image } from "astro:assets"
import { render, type CollectionEntry } from "astro:content"

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post, i) => ({
    params: { id: post.id },
    props: { post, prev: posts[i + 1], next: posts[i - 1] },
  }))
}

type Props = {
  post: CollectionEntry<"blog">
  prev?: CollectionEntry<"blog">
  next?: CollectionEntry<"blog">
}

const { post, prev, next } = Astro.props
const { Content } = await render(post)
const crumbs = [
  { label: "Blog", href: "/blog" },
  { label: post.data.title, href: `/blog/${post.id}` },
]
---

<Layout crumbs={crumbs}>
  <MetaPost slot="head" post={post} />
  <ScrollToTop />
  <article>
    <header>
      <h1>{post.data.title}</h1>
      <post-meta>
        <time datetime={post.data.date.toISOString()}>
          {formatDate(post.data.date)}
        </time>
        {post.data.tags && (
          <post-tags>
            {post.data.tags.map((tag) => (
              <a href={`/tags/${tag.toLowerCase()}`}>#{tag}</a>
            ))}
          </post-tags>
        )}
      </post-meta>
      <p>{post.data.description}</p>
    </header>
    {post.data.image && (
      <post-banner>
        <Image
          src={post.data.image}
          alt={post.data.title}
          width={1200}
          height={630}
          priority
        />
      </post-banner>
    )}
    <prose-content>
      <Content />
    </prose-content>
  </article>
  <PostNavigation prev={prev} next={next} />
</Layout>

<style>
  header {
    margin-block-end: var(--space-m);

    h1 {
      font-size: var(--step-3);
      line-height: calc(var(--leading-offset) + 1em);
      font-weight: var(--font-weight-medium);
    }

    post-meta {
      --underline: var(--muted-foreground);

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--space-3xs);
      margin-block-start: var(--space-3xs);
      font-size: var(--step--1);
      color: var(--muted-foreground);

      post-tags {
        --underline: transparent;

        display: flex;
        flex-wrap: wrap;
        gap: var(--space-3xs);

        a {
          color: var(--muted-foreground);

          &:hover {
            color: var(--accent);
          }
        }
      }

      time ~ post-tags::before {
        content: "·";
      }
    }

    > p {
      margin-block-start: var(--space-2xs);
      font-size: var(--step--1);
      color: var(--muted-foreground);
    }
  }

  post-banner {
    display: block;
    margin-block-end: var(--space-m);

    :global(img) {
      inline-size: 100%;
      block-size: auto;
      border-radius: var(--radius-xl);
    }
  }
</style>
