---
import BlogCard from "@/components/BlogCard.astro"
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
import { getTags } from "@/lib/content"
import type { CollectionEntry } from "astro:content"

export async function getStaticPaths() {
  const tags = await getTags()
  return [...tags].map(([tag, posts]) => ({
    params: { id: tag.toLowerCase() },
    props: { tag, posts },
  }))
}

type Props = { tag: string; posts: CollectionEntry<"blog">[] }

const { tag, posts } = Astro.props
const tagPath = `/tags/${tag.toLowerCase()}`
---

<Layout
  crumbs={[
    { label: "Tags", href: "/tags" },
    { label: `#${tag}`, href: tagPath },
  ]}
>
  <MetaPage
    slot="head"
    title={`Posts tagged "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
    noindex
  />
  <h1>{`Posts tagged #${tag}`}</h1>
  <ul>
    {posts.map((post) => <BlogCard post={post} />)}
  </ul>
</Layout>

<style>
  h1 {
    margin-block-end: var(--space-m);
    font-size: var(--step-3);
    line-height: calc(var(--leading-offset) + 1em);
    font-weight: var(--font-weight-medium);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }
</style>
