---
import { formatDate } from "@/lib/utils"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

type Props = {
  post: CollectionEntry<"blog">
  headingLevel?: 2 | 3
}

const { post, headingLevel = 2 } = Astro.props
const Heading = `h${headingLevel}` as "h2" | "h3"
---

<li class="card">
  {post.data.image && (
    <a href={`/blog/${post.id}`} tabindex="-1" aria-hidden="true">
      <Image src={post.data.image} alt="" width={640} height={336} />
    </a>
  )}
  <entry-info>
    <Heading><a href={`/blog/${post.id}`}>{post.data.title}</a></Heading>
    <entry-meta>
      <time datetime={post.data.date.toISOString()}>
        {formatDate(post.data.date)}
      </time>
      {post.data.tags && (
        <entry-tags>
          {post.data.tags.map((tag) => (
            <a href={`/tags/${tag.toLowerCase()}`}>#{tag}</a>
          ))}
        </entry-tags>
      )}
    </entry-meta>
    <p>{post.data.description}</p>
  </entry-info>
</li>

<style>
  li {
    entry-info {
      display: flex;
      min-inline-size: 0;
      flex-direction: column;

      > :is(h2, h3) {
        font-size: var(--step-1);
        line-height: calc(var(--leading-offset) + 1em);
        font-weight: var(--font-weight-medium);

        a {
          color: inherit;

          &:hover {
            color: var(--accent);
          }
        }
      }

      entry-meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-3xs);
        margin-block-end: var(--space-3xs);
        font-size: var(--step--1);
        color: var(--muted-foreground);

        entry-tags {
          display: flex;
          flex-wrap: wrap;
          gap: var(--space-3xs);

          a {
            color: var(--muted-foreground);

            &:hover {
              color: var(--accent);
            }
          }
        }

        time ~ entry-tags::before {
          content: "·";
        }
      }

      p {
        color: var(--muted-foreground);
      }
    }
  }
</style>
